/* 2.3 */
body {
    background-color: #6f9e80;
    margin: 0;
    font-family: sans-serif;
  }
  
.links{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #bdc3c7;
}

.links a{
    width: 100px;
    height: 100px;
}

.links a img{
    /* размер как у родительского тега */
    width: 100%;
    height: 100%;
}
  
/* 2.4 */
.squares{
    padding: 20px;
    display: flex;
}

.squares div{
    /* высота контента в 'div' */
    font-size: 50px;
}

.sq_1{
    background-color: #2980b9;
    margin-right: 20px;
    padding: 10px;
}
.sq_2{
    background-color: #8e44ad;
    margin: 40px 20px;
    padding: 10px;
}
.sq_3{
    background-color: #d35400;
    margin: 10px;
    padding: 10px;
}
.sq_4{
    background-color: #f39c12;
    margin: 10px 20px 30px 40px;
    padding: 10px;
}

/* 2.5 */
#card{
    width: 450px;
    background: white;
    padding: 20px;
    margin: 20px;
}

#card img{
    width: 100%;
}