body {
    font-family: sans-serif; 
    color: darkblue;
    background-color: #6f9e80;
    margin: 0; 
}
  
p{
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
    margin: 10px;
}

